* {
    box-sizing: border-box;
}

.FormEle_header {
    font-size: 22px;
    padding: 22px 0;
}

input {
    width: 100%;
    padding: 14px;
    border: 1px solid #a09c9c;
    resize: vertical;
}

label {
    display: inline-block;
    font-size: 14px;
}

button {
    color: white;
    padding: 5px 36px;
    border: none;
    cursor: pointer;
    border: 1px solid #a09c9c;
    font-size: 14px;
    background: #dddddd;
}

button:hover {
    background-color: #a09c9c;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-75 {
    margin-top: 6px;
}

.row {
    padding-bottom: 20px;
}

.error {
    padding: 13px 0 13px 10px;
    background: bisque;
    margin-bottom: 20px;
    color: red;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width: 600px) {
    .Form-group {
        width: 25%;
    }
}